
@import url('https://fonts.googleapis.com/css?family=Muli');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Muli';

}

.active{
    background-color: #a2d09b !important;
    color: #fff;
}